<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Invite Your Co-Workers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="bgimg ion-no-padding">

  <!--  <div class="dashboard-segment">-->
  <!--    <ion-segment mode="md" [(ngModel)]="selectedTab" (ionChange)="onSegemntChange()">-->
  <!--      <ion-segment-button id="segment1" value="employee">-->
  <!--        Invite Your Co-Workers-->
  <!--      </ion-segment-button>-->
  <!--      <ion-segment-button id="segment2" value="organization">-->
  <!--        <span *ngIf="is_restaurant">Invite a Distributor</span>-->
  <!--        <span *ngIf="is_distributor">Invite a Restaurant or Bar</span>-->
  <!--      </ion-segment-button>-->
  <!--    </ion-segment>-->
  <!--  </div>-->
  
  
    <div [ngSwitch]="selectedTab">
      <!-- List section -->
      <div style="padding-left: 6px; padding-right: 6px">
  
        <ion-grid>
          <ion-row class="ion-justify-content-center ion-padding-top">
            <ion-col>
              <ion-button
                      (click)="requestsToJoin()"
                      color="light"
                      expand="full"
                      shape="round"
                      class="common button btn-cannabis"
                      style="text-transform: initial"
              >List of requests to join</ion-button>

            </ion-col>
          </ion-row>
          <p class="tr-list-user-title">List of invited co-workers</p>
          <ion-row class="border-bottom kx-in-peo">
            <ion-col size="7">
              <strong>Email</strong>
            </ion-col>
            <ion-col size="3">
              <strong>Role</strong>
            </ion-col>
            <ion-col size="2" style="padding-left: 0">
              <strong style="font-size: 12px;">Resend</strong>
            </ion-col>
          </ion-row>
          <div *ngIf="employee_invitation_list.length > 0" class="kx-in-peo">
            <ion-row *ngFor="let invitation of employee_invitation_list">
              <ion-col size="7">
                {{invitation.email}}
              </ion-col>
              <ion-col size="3">
                <span style="font-size:12px" class="ion-text-capitalize">{{invitation.role}}</span>
              </ion-col>
              <ion-col size="2" class="ion-no-padding">

               <u (click)="resendEmployeeInvitation(invitation)" class="can-link" >Resend</u>
              </ion-col>
            </ion-row>
          </div>
  
  
          <ion-row>
            <p style="margin: 50px 0 10px 5px">Invite your co-workers and employees to join KEXY</p>
          </ion-row>
  
          <ion-row>
            <ion-col>
              <strong>Email Address</strong>
            </ion-col>
          </ion-row>
  
          <form [formGroup]="employeeForm" (ngSubmit)="employeeFormSubmitted()">
  
            <div formArrayName="invited_employee_list" class="ion-margin-bottom">
              <label *ngFor="let email of employeeForm.controls.invited_employee_list.controls; let i = index"
                     [formGroupName]="i">
                <ion-row class="border-bottom ion-no-padding">
                  <ion-col size="1" class="tr-kx-icon">
                    <ion-icon name="mail-outline"></ion-icon>
                  </ion-col>
                  <ion-col size="7">
                    <ion-input placeholder="name@example.com" formControlName="email" type="email"></ion-input>
                  </ion-col>
                  <ion-col size="3">
                    <ion-select formControlName="role" interface="popover">
                      <ion-select-option value="admin">Admin</ion-select-option>
                      <ion-select-option value="manager">Manager</ion-select-option>
                      <ion-select-option value="employee">Employee</ion-select-option>
                    </ion-select>

                  </ion-col>
                  <ion-col size="1" class="tr-kx-icon">
                    <ion-icon name="trash-outline" (click)="trashedTapped(i)"></ion-icon>
                  </ion-col>
                </ion-row>
                <div class="validation-errors ion-text-center" >
                  <div
                    *ngIf="!this.employeeForm.controls.invited_employee_list.controls[i].valid && this.employeeForm.controls.invited_employee_list.controls[i].dirty"
                    class="error-message">
                    Please enter a valid email
                  </div>
                </div>
              </label>
            </div>
  
          
  
          <ion-row>
            <ion-col class="ion-text-center" size="12">
              <ion-button
                      (click)="addNewInvite()"
                      color="success"
                      fill="clear"
                      size="small"
                      class="kexy-add-more-invite-btn"
              ><u>+ Add another invitation</u></ion-button>

            </ion-col>
          </ion-row>
  
          <ion-row class="ion-padding-top ion-justify-content-center">
            <ion-col>
              <ion-button
                      (click)="employeeFormSubmitted()"
                      color="light"
                      expand="full"
                      shape="round"
                      class="common button btn-cannabis"
                      style="text-transform: initial"
              >Send Invitation(s)</ion-button>
            </ion-col>
          </ion-row>
        </form>
        </ion-grid>
  
      </div>
  
    </div>
  
  </ion-content>

