<ion-content class="lightBlueBg" style="z-index: 100">
  <ion-grid class="dashboard-grid">
    <ion-row class="dashboard-header">
      <ion-col size="6" class="ion-no-padding">
        <ion-button
          fill="clear"
          color="light"
          class="ripple-parent"
          (click)="openMenu()"
          style="background: transparent; margin-top: 18px; margin-left: -8px"
        >
          <ion-icon slot="icon-only" name="menu"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-button>
      </ion-col>
      <ion-col size="6" class="ion-no-padding"></ion-col>
    </ion-row>

    <ion-list>
      <ion-row class="ion-padding">
        <ion-col size="12">
          <ion-button
            (click)="addOrderTapped('order')"
            color="light"
            expand="block"
            shape="round"
            class="common button"
          >Place an Order
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button
            (click)="addOrderTapped('inventory')"
            color="light"
            expand="block"
            shape="round"
            class="common button"
          >Take Inventory
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button
            (click)="reviewOrdersTapped('order')"
            color="light"
            expand="block"
            shape="round"
            class="common button"
          >View Orders
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button
            (click)="reviewOrdersTapped('inventory')"
            color="light"
            expand="block"
            shape="round"
            class="common button"
          >View Inventory
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
    <!-- Dashboard Buttons - end -->
  </ion-grid>
</ion-content>

<!--<kexy-bottom-nagigation-bar [selectedTab]="'home'"></kexy-bottom-nagigation-bar>-->

<!--Note popup overlay-->
<div class="traddoverlay" [class.hidden]="!openSimSimNotice"></div>
<div class="tr-kexy-modal" [class.hidden]="!openSimSimNotice">
  <div class="note-header">
    <span>Notice!</span>
  </div>

  <div class="note-content">
    <ion-col class="ion-no-padding ion-text-left" size="12">
      <p style="margin-top: 0">
        KEXY has partnered with OpenSimSim to power its Employee Scheduling. Please follow these
        one-time steps:
      </p>
      <p>
        1) Make sure you have the OpenSimSim app downloaded on your phone (we recommend using the
        same email address and password you used for KEXY).
      </p>
      <p>
        2) Now, every time you open up KEXY and click on the Employee Scheduling tab, it will
        automatically launch the OpenSimSim app.
      </p>
    </ion-col>
  </div>

  <div class="note-footer">
    <ion-button (click)="undersatndOpenSimSimNotice()" fill="clear">Ok</ion-button>
  </div>
</div>
