<ion-content  class="bgimg vertical-align-content list-avatar-page ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="tr-kexy-login-start-box ion-padding-bottom">
        <h2 class="ion-text-center">Join the KÉXY Marketplace</h2>
        <p class="ion-text-center">
          <b>{{ogranizationName}}</b> has invited you to join the KÉXY marketplace:
          <b>{{ogranizationName}}</b>. Join now
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button
          (click)="goToMarketPlace()"
          type="submit"
          color="light"
          expand="full"
          shape="round"
          class="common button"
          >Join Now</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
