<ion-content [fullscreen]="true" class="bgimg ion-text-center" style="background-color: white">
    <h4 style="margin-top: 80px">Please select one</h4>

    <div class="app-box" (click)="selectApp('restaurant')">
      <img alt="Kexy Logo" src="../../../assets/imgs/restaurant.png" />
      <p>Restaurant or Bar</p>
    </div>

    <div class="app-box" (click)="selectApp('dispensary')">
      <img alt="Cannabis Logo" src="../../../assets/cannabis/images/dispensary.png" />
      <p>Dispensary or Vape Shop</p>
    </div>
</ion-content>
