<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button mode="ios" fill="clear" (click)="backBtnPressed()">
        <ion-icon name="chevron-back-outline"></ion-icon> Back
      </ion-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        fill="clear"
        *ngIf="orderStatus !=='finalized' && inventory && !isInEditMode"
        (click)="editInventoryTapped()"
      >
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button fill="clear" *ngIf="isInEditMode" (click)="cancelInventoryTapped()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="lightBlueBg">
  <ion-grid *ngIf="inventory" class="ion-no-padding">
    <div>
      <div>
        <!-- Date, User and Order Section-->
        <ion-row class="tr-date-user-order ion-text-center">
          <ion-col size="4">
            <p>Date</p>
            <h3>{{dateFormat(inventory.inventory_date) | date:'MM/dd/yy'}}</h3>
          </ion-col>
          <ion-col size="4">
            <p>User</p>
            <h3>{{__prepName(inventory.employee.first_name)}} {{inventory.employee.last_name}}</h3>
          </ion-col>
          <ion-col size="4">
            <p>Order #</p>
            <h3>{{inventory.possible_order_number}}</h3>
          </ion-col>
        </ion-row>

        <ion-row class="tr-kexy-order-all tr-order-all">
          <ion-col size="6" class="ion-no-padding">
            <ion-item class="bg-transparent ion-no-padding" mode="md">
              <ion-label>Order All</ion-label>
              <ion-checkbox
                slot="start"
                *ngIf="!order_all"
                (ionChange)="orderAllTapped()"
                checked="false"
                color="success"
                mode="md"
              ></ion-checkbox>
              <ion-checkbox
                slot="start"
                *ngIf="order_all"
                (ionChange)="uncheckAllOrder()"
                checked="true"
                color="success"
                mode="md"
                class="order_all"
              ></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <p
              *ngIf="orderStatus !=='finalized' && inventory && !isInEditMode"
              class="ion-text-right"
            >
              <ion-button (click)="addProductToInventoryTapped()" fill="clear" color="dark">
                <ion-icon name="ios-add-circle-outline"></ion-icon>&nbsp;{{addProductBtnText}}
              </ion-button>
            </p>
          </ion-col>
        </ion-row>

        <ion-row
          *ngFor="let distributor of inventory.distributorList; let i = index;"
          class="tr-kexy-order-all"
        >
          <ion-col size="10" class="ion-no-padding">
            <div class="kexy-distributor">
              <ion-item class="bg-transparent ion-no-padding" mode="md">
                <ion-label>
                  {{distributor.distributor.name}} {{distributor.isOderConfirmed}}
                </ion-label>
                <ion-checkbox
                  slot="start"
                  (click)="distributorCheckedUnchecked(distributor)"
                  *ngIf="distributor.isSent"
                  checked="true"
                  class="distributor-checkbox"
                  color="success"
                  disabled="{{!distributor.isUncheckable}}"
                  mode="md"
                ></ion-checkbox>
                <ion-checkbox
                  slot="start"
                  (click)="distributorCheckedUnchecked(distributor)"
                  *ngIf="!distributor.isSent"
                  checked="false"
                  class="distributor-checkbox"
                  color="success"
                  disabled="{{!distributor.isUncheckable}}"
                  mode="md"
                ></ion-checkbox>
              </ion-item>
            </div>
          </ion-col>
          <ion-col class="kexy-distributor-icon" size="2">
            <div
              (click)="contactTapped(distributor)"
              *ngIf="distributor.distributor_employee.logo_url != ''"
              [ngStyle]="{'background-image': 'url(' + baseUriForImages + distributor.distributor_employee.logo_url + ')'}"
              class="user-pp"
            ></div>
            <div
              (click)="contactTapped(distributor)"
              *ngIf="distributor.distributor_employee.logo_url == '' && !(distributor.distributor.name.toLowerCase().indexOf('distributor unknown') > -1)"
              class="user-pp"
            >
              {{nameToInitials(distributor.distributor_employee.name)}}
            </div>
          </ion-col>

          <div class="tr-all-product-container" style="width: 100%">
            <div class="all-product-scroll">
              <table>
                <ng-template
                  [ngForOf]="distributor.product_category_list"
                  let-cat="$implicit"
                  let-j="index"
                  ngFor
                >
                  <tr>
                    <th class="tr-f-ch" style="min-width: 150px; max-width: 150px">{{cat.name}}</th>
                    <th style="min-width: 120px; max-width: 120px">Quantity Ordering</th>
                    <ng-container *ngFor="let metric of customMetrics">
                      <th style="min-width: 130px; max-width: 130px">{{ metric.name }}</th>
                    </ng-container>
                  </tr>
                  <ng-template
                    [ngForOf]="cat.product_list"
                    let-k="index"
                    let-product="$implicit"
                    ngFor
                  >
                    <tr class="tr-product">
                      <td class="tr-product tr-f-ch">{{product.product.name}}</td>
                      <td>
                        <div *ngIf="!(isInEditMode && distributor.isUncheckable)">
                          {{product.amount_to_order}}
                        </div>
                        <div>
                          <ion-input
                            (change)="productAmountToOrderChanged(product)"
                            *ngIf="(isInEditMode && distributor.isUncheckable)"
                            [(ngModel)]="product.amount_to_order"
                            class="tr-edit-amount"
                            type="number"
                          ></ion-input>
                        </div>
                      </td>
                      <ng-container *ngFor="let metric of customMetrics">
                        <ng-container *ngFor="let productMetric of product.custom_metrics">
                          <td *ngIf="metric.id === productMetric.metric_id">
                            {{ productMetric.value }}
                          </td>
                        </ng-container>
                      </ng-container>
                    </tr>
                  </ng-template>
                </ng-template>
              </table>
            </div>
          </div>
        </ion-row>

        <ion-row class="submit-buttons ion-padding ion-margin-bottom">
          <ion-col>
            <ion-button
              (click)="saveOrderTapped()"
              *ngIf="isInEditMode && inventory && (!inventory.order || (inventory.order && inventory.order.status === 'saved'))"
              color="light"
              shape="round"
              class="ion-margin-top"
              type="button"
            >
              SAVE
            </ion-button>

            <ion-button
              (click)="submitOrderTapped()"
              *ngIf="orderStatus !== 'finalized'"
              color="light"
              shape="round"
              class="ion-margin-top"
              type="button"
            >
              {{submitButtonText}}
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-grid>
</ion-content>

<!--Contact popup overlay-->
<div [class.traddoverlay]="shouldShowContactDialog" (click)="closeContactDialog()"></div>
<div class="tr-kexy-contact" *ngIf="selectedContact" [class.hidden]="!shouldShowContactDialog">
  <div class="note-header">
    <span><b>{{selectedContact.distributor_employee.name}}</b></span>
    <span class="kexy-tr-modal-close" (click)="closeContactDialog()">
      <ion-icon name="close-outline"></ion-icon>
    </span>
  </div>

  <div class="note-content">
    <ion-col size="12">
      <table>
        <tr>
          <td style="width: 60px">Email -</td>
          <td style="word-break: break-all">
            <a href="mailto:{{selectedContact.distributor_employee.email}}"
              >{{selectedContact.distributor_employee.email}}</a
            >
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td style="width: 70px">Phone -</td>
          <td>
            <a href="tel:{{selectedContact.distributor_employee.phone}}"
              >{{selectedContact.distributor_employee.phone}}</a
            >
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td style="width: 130px">In App Message -</td>
          <td><a href="#" (click)="startConversation($event, selectedContact)">Click Here</a></td>
        </tr>
      </table>
    </ion-col>
  </div>
</div>
