<ion-content padding class="bgimg list-avatar-page">

  <ion-grid>

    <ion-row margin-top padding-top>
      <ion-col>
        <div text-center>
          <img style="width: 260px" src="../../assets/imgs/find-kexy-marketplace.png" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="tr-kexy-login-start-box">
        <h2 text-center>Start with a marketplace</h2>
        <p>In KÉXY, everything happens in a marketplace. Register your restaurant, bar, or vendor company and invite any co-workers, managers, and employees who you want to have access to the marketplace.</p>
      </ion-col>
    </ion-row>

    <ion-row padding-top (click)="joinTapped($event)">
      <ion-col size="2">
        <ion-icon class="icon-white-rounded-bg shadow" name="search"></ion-icon>
      </ion-col>
      <ion-col size="8" no-padding>
        <h6 class="login-decision-headline">Join a Marketplace</h6>
        <p class="small-text" no-margin>Join or sign in to a KÉXY marketplace</p>
      </ion-col>
      <ion-col size="2">
        <ion-icon class="icon-arrow" name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="vertical-separator"></div>
      </ion-col>
    </ion-row>

    <ion-row padding-bottom (click)="registerTapped($event)">
      <ion-col size="2">
        <ion-icon class="icon-white-rounded-bg shadow" name="add"></ion-icon>
      </ion-col>
      <ion-col size="8" no-padding>
        <h6 class="login-decision-headline">Create a New Marketplace</h6>
        <p class="small-text" no-margin>Get your restaurant, bar, or vendor company on KÉXY</p>
      </ion-col>
      <ion-col size="2">
        <ion-icon class="icon-arrow" name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row padding-top>
      <ion-col text-center>
        <p class="tr-login-text">Already have an account?&nbsp;<span class="link" (click)="loginTapped()">Log in</span></p>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
