<ion-content class="bgimg list-avatar-page">
  <ion-grid>
    <ion-row class="ion-margin-top ion-padding-top">
      <ion-col>
        <div class="ion-text-center">
          <img style="width: 200px" src="../../../../assets/imgs/find-kexy-marketplace.png" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="tr-kexy-login-start-box">
        <h3 class="ion-text-center">Start with a marketplace</h3>
        <p>
          In KEXY, everything happens in a marketplace. Register your restaurant, bar, or vendor
          company and invite any co-workers, managers, and employees who you want to have access to
          the marketplace.
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top ion-padding-start" (click)="joinTapped()">
      <ion-item style="--padding-start: 0; --border-color: transparent">
        <ion-avatar slot="start">
          <ion-icon class="icon-white-rounded-bg shadow" name="search"></ion-icon>
        </ion-avatar>
        <ion-label class="ion-no-margin">
          <h2>Join a Marketplace</h2>
          <p>Join or sign in to a KEXY marketplace</p>
        </ion-label>
        <ion-button fill="clear" color="" slot="end">
          <ion-icon class="icon-arrow" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-row>

    <ion-row class="ion-padding-start ion-padding-end">
      <ion-col>
        <div class="vertical-separator"></div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-bottom ion-padding-start" (click)="registerTapped()">
      <ion-item style="--padding-start: 0; --border-color: transparent">
        <ion-avatar slot="start">
          <ion-icon class="icon-white-rounded-bg shadow" name="add"></ion-icon>
        </ion-avatar>
        <ion-label class="ion-no-margin">
          <h2>Create a Marketplace</h2>
          <p>Get your restaurant, bar, or vendor company on KEXY</p>
        </ion-label>
        <ion-button fill="clear" color="" slot="end">
          <ion-icon class="icon-arrow" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col class="ion-text-center">
        <p class="tr-login-text">
          Already have an account?&nbsp;<span class="link" (click)="loginTapped()">Log in</span>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
