ion-label {
  display: inline;
  position: relative;
  bottom: 3px;
  left: 10px;
}

ion-col {
  padding-bottom: 0 !important;
}

.text-input {
  margin-bottom: 2px;
}

ion-icon {
  font-weight: bold;
  font-size: 20px;
}
.scroll-content {
  margin-bottom: 0 !important;
}
