<ion-app>
  <ion-menu side="start" contentId="main" menuId="restaurantMenu" class="sidebar">
    <ion-header *ngIf="isRestaurant" class="sidebar-header"> </ion-header>
    <ion-header *ngIf="!isRestaurant" class="sidebar-header cannabis"></ion-header>

    <ion-content>
      <ion-menu-toggle
        auto-hide="false"
        class="sidebar-menu"
        [class.cannabis]="!isRestaurant"
        *ngFor="let p of restaurantMenuPages"
        (click)="openPage(p)"
      >
        <ion-item [ngClass]="p.cssClass">
          <ion-icon name="{{ p.icon }}" slot="start"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <p class="tr-kexy-internal-build">Internal Build - 1.0.5</p>
    </ion-content>
  </ion-menu>

  <ion-menu side="start" contentId="main" menuId="distributorMenu" class="sidebar">
    <ion-header *ngIf="isRestaurant" class="sidebar-header"> </ion-header>
    <ion-header *ngIf="!isRestaurant" class="sidebar-header cannabis"></ion-header>

    <ion-content>
      <ion-menu-toggle
        auto-hide="false"
        class="sidebar-menu"
        [class.cannabis]="!isRestaurant"
        *ngFor="let p of distributorMenuPages"
        (click)="openPage(p)"
      >
        <ion-item [ngClass]="p.cssClass">
          <ion-icon name="{{ p.icon }}" slot="start"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <p class="tr-kexy-internal-build">Internal Build - 1.0.5</p>
    </ion-content>
  </ion-menu>

  <ion-menu side="start" contentId="main" menuId="supplierMenu" class="sidebar">
    <ion-header *ngIf="isRestaurant" class="sidebar-header"> </ion-header>
    <ion-header *ngIf="!isRestaurant" class="sidebar-header cannabis"></ion-header>

    <ion-content>
      <ion-menu-toggle
        auto-hide="false"
        class="sidebar-menu"
        [class.cannabis]="!isRestaurant"
        *ngFor="let p of supplierMenuPages"
        (click)="openPage(p)"
      >
        <ion-item [ngClass]="p.cssClass">
          <ion-icon name="{{ p.icon }}" slot="start"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <p class="tr-kexy-internal-build">Internal Build - 1.0.5</p>
    </ion-content>
  </ion-menu>

  <div
    id="devModeIndicator"
    hidden
    style="
      position: fixed;
      top: 0px;
      left: calc(50vw - 40px);
      background: yellow;
      color: blue;
      z-index: 99999;
      padding: 6px;
    "
  >
    Dev Mode
  </div>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
