<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Requests to Join</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="lightBlueBg">
  <div style="padding-left: 6px; padding-right: 6px">
    <ion-grid>
      <div *ngIf="join_request_list.length > 0">
        <p class="tr-list-user-title">List of users requesting to join your account</p>
        <ion-row class="border-bottom">
          <ion-col size="7">
            <strong>Email</strong>
          </ion-col>
          <ion-col size="3">
            <strong>Status</strong>
          </ion-col>
          <ion-col size="2" style="padding-left: 0">
            <strong style="font-size: 12px">Action</strong>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let request of join_request_list">
          <ion-col size="7"> {{request.user.email}} </ion-col>
          <ion-col size="3">
            <span class="ion-text-capitalize">{{request.status}}</span>
          </ion-col>
          <ion-col size="2" class="ion-no-padding">
            <ion-button
              class="ion-no-padding ion-no-margin"
              color="success"
              size="small"
              fill="clear"
              style="height: auto"
              (click)="showActionList(request)"
            >
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="join_request_list.length === 0">
        <p class="no-request-message">No requests yet!</p>
      </div>
    </ion-grid>
  </div>
</ion-content>
