<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bgimg">

  <div class="ion-text-center ion-padding-top ion-margin-top" style="width:100%">
    <img alt="Kexy Logo" width="196" src="../../../../cannabis/images/logo.png" />
  </div>

  <ion-grid>

    <ion-row class="ion-padding-top">
      <ion-col class="ion-text-center">
        <p><strong>Recover KEXY Password</strong></p>
        <p>Enter the 6 digit code sent to your email</p>
      </ion-col>
    </ion-row>

    <form class="ion-padding" [formGroup]="primaryForm" (ngSubmit)="primaryFormSubmitted()">

      <label>
        <ion-row class="border-bottom">
          <ion-col size="1" class="tr-kx-icon">
            <ion-icon ios="lock-closed-outline" md="lock-closed-sharp"></ion-icon>
          </ion-col>
          <ion-col size="11">
            <ion-input placeholder="XXXXXX" type="number" formControlName="recovery_code"></ion-input>
          </ion-col>
        </ion-row>
        <div class="validation-errors ion-text-center">
          <div class="error-message" *ngIf="!primaryForm.controls.recovery_code.valid && (primaryForm.get('recovery_code').dirty || primaryForm.get('recovery_code').touched)">
            Please enter the code sent to your email.
          </div>
        </div>
      </label>

      <label>
        <ion-row class="border-bottom">
          <ion-col size="1" class="tr-kx-icon">
            <ion-icon ios="lock-closed-outline" md="lock-closed-sharp"></ion-icon>
          </ion-col>
          <ion-col size="11">
            <ion-input placeholder="Password" type="password" formControlName="new_password"></ion-input>
          </ion-col>
        </ion-row>
        <div class="validation-errors ion-text-center">
          <div class="error-message" *ngIf="!primaryForm.controls.new_password.valid && (primaryForm.get('new_password').dirty || primaryForm.get('new_password').touched)">
            Please enter a new password.
          </div>
        </div>
      </label>

      <ion-row class="ion-margin-top">
        <ion-col size="12">
          <ion-button type="submit" color="light" expand="full" shape="round" [disabled]="!primaryForm.valid" class="common button btn-cannabis">Reset Password</ion-button>
        </ion-col>
      </ion-row>

    </form>

    <ion-row>
      <ion-col class="ion-text-center">
        <p>Would like to Login? <span class="can-link" (click)="loginTapped()">Click here</span></p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col class="ion-text-center">
        <span class="can-link" (click)="resendVerificationCode();" *ngIf="showResendButton">Resend Code</span>
      </ion-col>
    </ion-row>


  </ion-grid>


</ion-content>
