<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-menu-button></ion-menu-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="lightBlueBg ion-padding">

  <ion-item>
      <ion-label>Par Level Change</ion-label>
      <ion-toggle color="success"
                  (ionChange)="addOrUpdateSettings()"
                  [(ngModel)]="settings.par_level_update"
                  checked="{{settings.par_level_update}}">

      </ion-toggle>
  </ion-item>
  <ion-item>
      <ion-label>Rep Delivery Method</ion-label>
      <ion-button
              (click)="repDeliveryMethodEditTapped()"
              fill="clear"
              class="cannabis-color"
      >Edit</ion-button>
  </ion-item>


</ion-content>
