kexy-bottom-nagigation-bar {
  .tr-tabs {
    border-top: 0.55px solid rgba(0, 0, 0, 0.3);
    background: white;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding-bottom: 10px;
    z-index: 200;
    height: 65px;

    .tr-selected {
      color: #1a6eff;
    }
    .tr-selected.cannabis {
      color: rgb(54, 149, 96);
    }

    ion-icon {
      font-size: 25px;
      font-weight: normal;
    }
    p {
      font-size: 10.5px;
      margin: 0;
    }
  }

}
