.icon-white-rounded-bg {
  border-radius: 50%;
  background: white;
  font-size: 25px;
  padding: 10px;
}
ion-item {
  ion-label {
    white-space: normal;
  }
}
.icon-arrow {
  color: #000;
}
.shadow {
  -webkit-box-shadow: 0 0 17px 0 #e6e6e6;
  -moz-box-shadow: 0 0 17px 0 #e6e6e6;
  box-shadow: 0 0 17px 0 #e6e6e6;
}

.login-decision-headline {
  margin: 8px 0 4px 0 !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.scroll-content {
  margin-bottom: 0 !important;
}
