<ion-content  class="bgimg list-avatar-page ion-padding">

  <ion-grid>

    <ion-row class="ion-margin-top ion-padding-top">
      <ion-col>
        <div class="ion-text-center">
          <img style="width: 260px" src="../../../../assets/cannabis/images/find-kexy-marketplace.png" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="tr-kexy-login-start-box">
        <h2 class="ion-text-center">Start with a marketplace</h2>
        <p>In KEXY, everything happens in a marketplace. Register your restaurant, bar, or vendor company and invite any co-workers, managers, and employees who you want to have access to the marketplace.</p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top" (click)="joinTapped()">
      <ion-col size="2">
        <ion-icon class="icon-white-rounded-bg shadow" name="search"></ion-icon>
      </ion-col>
      <ion-col size="8" class="ion-no-padding">
        <h6 class="login-decision-headline">Join a Marketplace</h6>
        <p class="small-text ion-no-margin" >Join or sign in to a KEXY marketplace</p>
      </ion-col>
      <ion-col size="2">
        <ion-icon class="icon-arrow" name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="vertical-separator"></div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-bottom" (click)="registerTapped()">
      <ion-col size="2">
        <ion-icon class="icon-white-rounded-bg shadow" name="add"></ion-icon>
      </ion-col>
      <ion-col size="8" class="ion-no-padding">
        <h6 class="login-decision-headline">Create a New Marketplace</h6>
        <p class="small-text ion-no-margin" >Get your restaurant, bar, or vendor company on KEXY</p>
      </ion-col>
      <ion-col size="2">
        <ion-icon class="icon-arrow" name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col class="ion-text-center">
        <p class="tr-login-text">Already have an account?&nbsp;<span class="can-link" (click)="loginTapped()">Log in</span></p>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
