<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log into KÉXY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bgimg">
  <div class="ion-text-center ion-margin-top" style="width: 100%">
    <img alt="Kexy Logo" (click)="logoTapped()" width="196" src="../../assets/imgs/logo.png" />
  </div>

  <ion-grid>
    <ion-row class="ion-padding-top">
      <ion-col class="ion-text-center">
        <p class="login-header" (click)="internalBuildTapped()">Log into KÉXY</p>
        <p class="ion-text-center">Enter your email address and password</p>
      </ion-col>
    </ion-row>

    <form [formGroup]="primaryForm" (ngSubmit)="primaryFormSubmitted()">
      <label *ngIf="!isMobileLogin">
        <ion-row class="border-bottom">
          <ion-col size="1" class="tr-kx-icon">
            <ion-icon name="ios-mail-outline"></ion-icon>
          </ion-col>
          <ion-col size="11">
            <ion-input
              placeholder="name@example.com"
              formControlName="email"
              type="email"
            ></ion-input>
          </ion-col>
        </ion-row>
        <div class="validation-errors ion-text-center">
          <div
            class="error-message"
            *ngIf="!primaryForm.controls.email.valid && (primaryForm.get('email').dirty || primaryForm.get('email').touched)"
          >
            Please enter your email address.
          </div>
        </div>
      </label>
      <label *ngIf="isMobileLogin">
        <ion-row class="border-bottom">
          <ion-col class="tr-kx-icon" size="1">
            <ion-icon name="ios-call-outline"></ion-icon>
          </ion-col>
          <ion-col size="11">
            <ion-input formControlName="phone" placeholder="Mobile Number" type="tel"></ion-input>
          </ion-col>
        </ion-row>
        <div class="validation-errors ion-text-center">
          <div
            *ngIf="!primaryForm.controls.phone.valid && (primaryForm.get('phone').dirty || primaryForm.get('phone').touched)"
            class="error-message"
          >
            Please enter a valid 10 digit US/Canada Mobile Phone Number.
          </div>
        </div>
      </label>
      <label>
        <ion-row class="border-bottom">
          <ion-col size="1" class="tr-kx-icon">
            <ion-icon name="ios-lock-outline"></ion-icon>
          </ion-col>
          <ion-col size="11">
            <ion-input
              formControlName="password"
              placeholder="Password"
              type="password"
            ></ion-input>
          </ion-col>
        </ion-row>
        <div class="validation-errors ion-text-center">
          <div
            class="error-message"
            *ngIf="!primaryForm.controls.password.valid && (primaryForm.get('password').dirty || primaryForm.get('password').touched)"
          >
            Please enter your password.
          </div>
        </div>
      </label>

      <label>
        <ion-row class="ion-padding-top">
          <ion-col size="6">
            <ion-checkbox formControlName="rememberMe" color="primary"></ion-checkbox>
            <ion-label>Remember me</ion-label>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <span class="link" (click)="forgotPasswordTapped()">Forgot password?</span>
          </ion-col>
        </ion-row>
      </label>

      <label>
        <ion-row class="ion-padding-top">
          <ion-col size="12" class="ion-text-center">
            <span (click)="loginUsingphoneNumber()" class="link">{{loginText}}</span>
          </ion-col>
        </ion-row>
      </label>

      <!-- <ion-row padding>
        <ion-col col-12>
          <button ion-button color="light" full round class="common button" (click)="signInBtnTapped()">Sign in</button>
        </ion-col>
      </ion-row> -->

      <ion-row padding>
        <ion-col size="12">
          <ion-button
            [disabled]="!primaryForm.valid"
            type="submit"
            color="light"
            expand="full"
            shape="round"
            class="common button"
            >Login
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <p>
            Don't have an account on KÉXY?
            <span class="link" (click)="createOrJoinTapped()">Create account</span>
          </p>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
