<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Password Recovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bgimg">
  <div class="ion-text-center ion-padding-top ion-margin-top" style="width: 100%">
    <img alt="Kexy Logo" width="196" src="../../../../assets/cannabis/images/logo.png" />
  </div>

  <ion-grid>
    <ion-row class="ion-padding-top">
      <ion-col class="ion-text-center">
        <p>Forgot your Password?</p>
        <p>Enter your email address below and we’ll help you reset your password</p>
      </ion-col>
    </ion-row>

    <form class="ion-padding" [formGroup]="primaryForm" (ngSubmit)="primaryFormSubmitted()">
      <label>
        <ion-row class="border-bottom">
          <ion-col size="1" class="tr-kx-icon">
            <ion-icon ios="mail-outline" md="mail-sharp"></ion-icon>
          </ion-col>
          <ion-col size="11">
            <ion-input
              placeholder="name@example.com"
              type="email"
              formControlName="email"
            ></ion-input>
          </ion-col>
        </ion-row>
      </label>

      <div class="validation-errors">
        <div
          class="error-message"
          *ngIf="primaryForm.get('email').hasError('email') && (primaryForm.get('email').dirty || primaryForm.get('email').touched)"
        >
          Please enter a valid email address.
        </div>
      </div>

      <ion-row class="ion-margin-top">
        <ion-col size="12">
          <ion-button
            type="submit"
            color="light"
            expand="full"
            shape="round"
            [disabled]="!primaryForm.valid"
            class="common button btn-cannabis"
          >
            Confirm
          </ion-button>
        </ion-col>
      </ion-row>
    </form>

    <ion-row>
      <ion-col class="ion-text-center">
        <p>Remember your password? <span class="can-link" (click)="loginNowTapped()">Log In</span></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
