<ion-card class="tr-accordion">
<!--  <ion-card-header class="tr-card-header" [class.blue]="accordionExapanded" (click)="toggleAccordion()">-->
<!--      <ion-item>-->
<!--        <ion-button fill="clear">-->
<!--          <ion-icon [class.blue]="accordionExapanded" [name]="icon"></ion-icon>-->
<!--        </ion-button>-->
<!--        {{ title }}-->
<!--      </ion-item>-->
<!--  </ion-card-header>-->

  <ion-item class="tr-card-header" (click)="toggleAccordion()">
    <ion-label>{{title}}</ion-label>
    <ion-button fill="clear" slot="end">
      <ion-icon [class.blue]="accordionExapanded" [name]="icon"></ion-icon>
    </ion-button>
  </ion-item>


  <ion-card-content class="tr-card-content" [class.tr-expanded]="accordionExapanded">
    <ng-content></ng-content>
  </ion-card-content>
</ion-card>
